body {
    background-image: url("../images/test-image3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sub-container {
    padding: 50px;
    margin-top: 180px;
    text-align: center;
}

#navDesign {
    background-color: #7fddff;
}

#word {
    color: black;
}

.btn {
    margin: 8px;
    background-color: black;
}

.btn:hover {
    margin: 8px;
    background-color: rebeccapurple;
}

.btn-floating.btn-large {
    width: 115px;
    height: 115px;
}

.btn-floating.btn-large i {
    line-height: 115px;
}
