body {
    background-image: url("../images/test-image3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sub-container {
    padding: 50px;
    margin-top: 250px;
    text-align: center;
}

.btn {
    margin: 8px;
    background-color: black;
}

.btn:hover {
    margin: 8px;
    background-color: rebeccapurple;
}
