body {
    /* background: url("../images/space-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

  background-color: black;
    
}

.boxCont {
    width: 100%;
    float: left;
    text-align: center;
    padding-left: 400px;
    margin: 30px 0px;
    margin-top: 160px;    
}

.selectors {
    margin-left: 40px;
    border: 1px solid #464646;
    background-color: rgba(25,25,25,9);
    padding: 20px;
    width: 15%;
    color: #464646;
    float: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;   
    border-radius: 5px; 
}

.selectors:hover {
	box-shadow: 0px 0px 10px white;
}

.name {
    font-size: 110px;
    font-family: 'Quicksand', sans-serif;
    z-index: 1;
    color: #464646;
    text-shadow: 2px 2px 4px #000;
    user-select: none;
    
}

a {
    color: #464646;
    font-size: 15px;       
}

a:hover {
    color: white;    
}

#second {
    margin-top: -60px; 
}

#bottomSecond{
    margin-top: 60px;
}
