.container {
    padding: 10px;
}

nav .nav-wrapper {
    background-color: #000;
}

/* kurtgriarte name on nav */
#logo {
    font-family: 'Quicksand', sans-serif;
}

/* picture sizing */
#picture {
    height: 270px;
    width: 230px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* second navbar container */
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid black;
}

li {
    display: inline;
}

/* style of second navbar */
li a {
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

/* style of second navbar HOVER */
li a:hover {
    color: #7f7f7f;
}

/* styling the font */
h2 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}

/* the word project */

#projects {
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 35px; 
}

/* card styling */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: black;
    font-family: 'Quicksand', sans-serif;    
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #999999;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;    
}

/* the word biography */
#biography {
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 35px; 
}

/* first image in bio section */
.firstBioImage {
    float: left;
    border: 1px solid black;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 300px;
}

/* second image in bio section */
.secondBioImage {
    float: right;
    border: 1px solid black;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 300px;
}

/* third image in bio section */
.thirdBioImage {
    float: left;
    border: 1px solid black;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 300px;
}


/* fourth image in bio section */
.fourthBioImage {
    float: right;
    border: 1px solid black;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 300px;
}

/* the word Contact Me */
#contactMe {
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 35px; 
}

.paragraphs {
    font-size: 28px;    
}

/* icons */
i {
    color: #000;
}

/*********************** contact design box  **********************/

form {
    font-family: 'Quicksand', sans-serif;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 60px;
}

input {
    width: 100%;
    margin: 20px 0px;
}

textarea {
    height: 10rem;
    background-color: transparent;
    margin: 20px 0px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #7f7f7f;
     opacity: 1 !important;
}

label {
    color: black;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 #000;
    box-shadow: 0 1px 0 0 #000;
}

#submitButton {
    padding: 10px;
    border: 1px solid black;
}


/* form validation error */

div.error {
    color: red;
}


/********************* making the website RESPONSIVE in DESKTOP ********************/

@media only screen and (max-width: 1400px ) {
    .paragraphs {
        font-size: 26px;    
    }

    #picture {
        height: 250px;
        width: 220px;
    }
}

@media only screen and (max-width: 1300px) {
    .paragraphs {
        font-size: 22px;    
    }

    #picture {
        height: 230px;
        width: 210px;
    }
}

@media only screen and (max-width: 1200px) {
    .paragraphs {
        font-size: 22px;    
    }

    #picture {
        height: 210px;
        width: 180px;
    }
}

/* specific to ipad pro */
@media only screen and (max-width: 1100px) {
    .paragraphs {
        font-size: 20px;    
    }

    #picture {
        height: 210px;
        width: 160px;
    }
}


@media only screen and (max-width: 1000px) {
    .paragraphs {
        font-size: 20px;    
    }

    #picture {
        height: 220px;
        width: 180px;
    }
}

@media only screen and (max-width: 900px) {
    .paragraphs {
        font-size: 15px;    
    }

    #picture {
        height: 210px;
        width: 160px;
    }
}

@media only screen and (max-width: 700px) {
    .paragraphs {
        font-size: 15px;    
    }

    #picture {
        height: 190px;
        width: 140px;
    }
}


@media only screen and (max-width: 600px) {
    .paragraphs {
        font-size: 15px;    
    }

    #picture {
        height: 170px;
        width: 120px;
    }
}

@media only screen and (max-width: 400px) {
    .paragraphs {
        font-size: 15px;    
    }

    #picture {
        height: 130px;
        width: 80px;
    }
}