#panelOne {
    background-image: url('../images/test-image2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navDesign {
    background-color: #7fddff;
}

#word {
    color: black;
}
