#panelOne {
    background-image: url('../images/home-philippines.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#panelTwo {
    background-image: url('../images/second-home.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#panelThree {
    background-image: url('../images/third-home.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#navDesign {
    background-color: black;
}

#word {
    color: white;
    font-family: 'Quicksand', sans-serif;    
}

h2 {
    text-shadow: 2px 2px 4px #000;
    font-family: 'Quicksand', sans-serif;    
}

#paragraphs {
    font-size: 30px;
    width: 50%;
    margin-left: 25%;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Quicksand', sans-serif;    
}


a#wordNav {
    color: black;
    font-family: 'Quicksand', sans-serif;    
}